# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c0ce98dfa00ca5d4867b2af1d7fcdf67622b5717793e6a25fef6dbde8229ff31028a3dd09080679a9d7581e338c059ac7bc2c53ab783dff50dce6b9c13551794

test:
  secret_key_base: e1ba43fe800ddbb78d3181853de312b8e9dde7d7fde11abf0d78ecc0177bcf45db18d48e5e8e2401911671570bb455d0ca96ebc517de2c08bd5a17ac649d77a7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
