// Place all the styles related to the wanta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {  
    text-align: center;  
}  
div#wrapper {  
    width: 800px;  
    margin: 0 auto;  
    text-align: left;  
    border: 1px solid #FF0000;  
}  